// Specific CSS for your home-page
h1, p {
  font-family: 'Inter', sans-serif;
}

#mainimage {
  width: 850px;
  justify-content: left;
}

#secondaryleft {
  width: 850px;
  justify-content: right;
}
