<%# --- Header and main description --- %>
<br>
<div class="d-flex justify-content-center"><h1>Sarah Pooley Textiles</h1></div>
<div class="d-flex justify-content-center"><p>Colourful landscape and seascape textile paintings using fabric and stitch to express free movement balanced with detailed, considered mark making.</p></div>

<%# ---- Images for Home Page ---- %>
<div class="card" id="mainimage">
  <%=image_tag "kitesurfing.jpeg"%>
</div>

<div class="card" id="secondaryleft">
  <%= image_tag "daymer1.jpeg" %>
</div>
