<%# --- Header and main description --- %>
<br>
<div class="d-flex justify-content-center"><h1>Sarah Pooley Textiles</h1></div>
<div class="d-flex justify-content-center"><p>See my artworks</p></div>

<%# ---- Carousel for Home Page ---- %>
<div class="card" style="width: 75rem;">
  <%=image_tag "tidalpull.jpeg"%>
</div>
